@import './stylesheets/defaults';
@import './stylesheets/config';
@import './stylesheets/app';
@import './stylesheets/pages';
@import './stylesheets/components';
@import './stylesheets/elements';

#header-container {

  z-index: 5;
  
}

#menu-container {

  z-index: 4;

}

#modal-container {

  z-index: 3;

}

#main-container {
  
  z-index: 1;

}

#footer-container {

  z-index: 5;
  
}