#header-container {

  @extend .container;
  @include setBackgroundColor($light);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px, rgba(0, 0, 0, 0.08) 0px 1px 4px;

  #main-nav {

    @extend .wrapper, .flex, .justify-between, .align-center, .p-8;

    .logo {

      @extend .p-8;
      @include setLogoFont(28px);
      line-height: 1;

    }

    .main-nav-list {

      @extend .align-center, .gap-4;
      display: none;

      .main-nav-item {
        
        @extend .p-8;
        @include setMenuFont(14px);
        transition: all 0.08s;
        cursor: pointer;

      }

    }

    .header-nav-list {

      @extend .flex, .align-center, .gap-4;

      .header-nav-item {

        @extend .flex, .p-6;
        cursor: pointer;

        svg {

          font-size: 24px;
          color: rgb(0, 0, 0, 0.72);
          transition: all 0.08s ease-in-out;

        }

        &:hover {

          svg {

            color: $dark;

          }

        }

        @media (prefers-color-scheme: dark) {

          svg {

            color: rgb(255, 255, 255, 0.72);

          }

          &:hover {
            
            svg {

              color: $light;

            }

          }
          
        }

      }

      .menu-btn {
    
        .bar {
          
          background-color: rgb(0, 0, 0, 0.72);
          transition: all 0.08s ease-in-out;

        }

        &:hover {

          .bar {

            background-color: $dark;

          }

        }

        @media (prefers-color-scheme: dark) {

          .bar {

            background-color: rgb(255, 255, 255, 0.72)

          }

          &:hover {

            .bar {

              background-color: $light;

            }

          }

        }
  
      }

    }

    .menu-btn {

      @extend .mr-2;

    }

    @media screen and (min-width: 600px) {
      
      .main-nav-list {

        display: flex;

      }

      .menu-btn {

        display: none;

      }

      .header-nav-list {
  
        .menu-btn {
  
          display: flex;
  
        }
  
      }
      
    }

  }

  @media (prefers-color-scheme: dark) {

    @include setBackgroundColor($dark);

  }

}