#main-container {

  @extend .container, .h-100, .y-scroll;
  @include setBackgroundColor(darken($light, 12%));
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {

    display: none;
    
  }

  .main-wrapper {

    @extend .wrapper;

  }

  @media (prefers-color-scheme: dark) {

    @include setBackgroundColor(lighten($dark, 2%));
    
  }

}